html {
  font-size: 62.5%; /* 10px */
}

body {
  box-sizing: border-box;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.profile h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  padding: .5rem;
  color: rgba(0, 0, 0, .6);
}

.name-box {
  background-color: rgba(255, 255, 255, .4);
  border: .5rem solid rgba(0, 0, 0, .6);
  border-radius: 2rem;

}

.flex-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  height: 10rem;
  padding-top: 30vh;
}

.profile {
  background-image: url(../images/background_mobile2.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}


.social {
  margin: 0;
  display: flex;
  display: -webkit-flex;
  padding: 0;
  justify-content: center;
  -webkit-justify-content: center;
}

.social_icons {
  display: flex;
  display: -webkit-flex;
  list-style: none;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

ul.social_icons {
  padding-left: 0;
  padding-top: 20vh;
}

.linkedin,
.twitter,
.facebook,
.email {
  top: 80vh;
  display: block;
  padding-right: 2rem;
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: center;
  background-clip: border-box;
  overflow: hidden;
  text-indent: 110%;
  text-align: left;
  width: 4rem;
  height: 4rem;

}

.linkedin:hover,
.twitter:hover,
.facebook:hover,
.email:hover {
  transition: all .5s ease;
  animation: roll 1.5s infinite;
  animation-iteration-count: 1;
  ;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linkedin:hover, .linkedin:focus  {
  background-image: url(../images/linkedin-bw.png);
}

.linkedin {
  background-image: url(../images/linkedin-colored.png);
}

.twitter:hover, .twitter:focus {
  background-image: url(../images/twitter-bw.png);
}

.twitter {
  background-image: url(../images/twitter-colored.png);
}

.facebook:hover, .facebook:focus {
  background-image: url(../images/facebook-bw.png);
}

.facebook {
  background-image: url(../images/facebook-colored.png);
}

.email:hover, .email:focus {
  background-image: url(../images/email-bw2.png);
}

.email {
  background-image: url(../images/email-colored2.png);
}

@media screen and (min-width: 436px) {

 .profile {
    background-image: url(../images/background_tablet.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .profile h1 {
    font-size: 5vmax;
    padding: 1rem;
  }
  .social {
    display: inline-block;
    position: absolute;
  }

  ul.social_icons {
    padding-top: 30vh;
  }

  section.flex-center {
    position: relative;
  }

  .name-box {
    display: inline-block;
    position: absolute;
    left: 20vh;
  }

  .linkedin,
  .twitter,
  .facebook,
  .email {
    width: 6rem;
    height: 6rem;
    background-size: 6rem;
  }



@media screen and (min-width: 800px){

  .profile {
    background-image: url(../images/background5.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .profile h1 {
    font-size: 4.5vmax;
    padding: 1rem;
  }
  .social {
    display: inline-block;
    position: absolute;
  }

  ul.social_icons {
    padding-top: 20vh;
  }

  section.flex-center {
    position: relative;
  }

  .name-box {
    display: inline-block;
    position: absolute;
    left: 80vh;
    white-space: nowrap
  }

  .wrapper {
    max-width: 80%;
  }

  .linkedin,
  .twitter,
  .facebook,
  .email {
    width: 6rem;
    height: 6rem;
    background-size: 6rem;
    padding-right: 3rem;
  }





}
